@model IEnumerable<ICE1Project.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<div>
    <div style="display: flex; justify-content: space-between;">
        <form asp-controller="Task" asp-action="Index" method="get">
            <p>
               Title: <input type="text" name="SearchString" />
                <input type="submit" class="btn btn-secondary" value="Search" />
                <button type="button" class="btn btn-secondary">
                    <a asp-action="Index" style="text-decoration: none; color: white;">Clear</a>
                </button>
            </p>
        </form>
        <div style ="text-align: right;">
            <button type="button" class="btn btn-primary">
                <a asp-action="Create" style="text-decoration: none; color: white;">Create New</a>
            </button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTask)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTask)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
